<div class="ad-cards grid grid-cols-1 md:grid-cols-2 gap-[15px] flex flex-col mb-[30px] px-[15px] md:px-[30px] mt-[90px] md:mt-[120px]">
  <div class="card">
    <div class="card-image mb-4">
      <img
        src="//yori.nyc/cdn/shop/files/CardOli_2_600x600.gif?v=1732832060"
        alt="Reserve A Sport Card"
        class="w-full max-w-xs sm:max-w-full rounded-md"
      >
    </div>

    <div class="card-content">
      <h3 class="ad-card-title">Reserve A Sport Card</h3>
      <p class="body !text-white !text-left !leading-[12px]">
        The New Kiswa Noir Sport Card is included as one of the many benefits of a yearly subscription on the Kiswa Noir App.
        Cardholders will receive a physical Sport Card, unlocking VIP benefits at Kiswa Noir Sport events. These include but
        are not limited to, line jumps, meet and greet access, exclusive discounts, and more!
      </p>
      <a
        href="https://www.otherdev.com/"
        class="big-btn !rounded-[4px] !w-full !text-center !bg-white !text-black"
      >
        Reserve Today
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-image mb-4">
      <img
        src="//yori.nyc/cdn/shop/files/app_icon_8a494074-aa33-4ef5-9f16-1a2d6276493a_600x600.png?v=1732833865"
        alt="Download The Kiswa Noir App"
        class="w-full  max-w-xs rounded-md"
      >
    </div>

    <div class="card-content">
      <h3 class="ad-card-title ">Download The Kiswa Noir App</h3>
      <p class="body !text-white !text-left leading-[12px]">
        The Kiswa Noir App is finally here! And it offers something for everyone including a free base tier and two paid
        tier options, billed monthly or yearly. Subscribers will unlock access to exclusive discounts, deals, auctions,
        and bundles, as well as the opportunity to immerse themselves further into the world of Yori. Sign up today to
        experience the future of fashion!
      </p>
      <a
        href="https://www.otherdev.com"
        class="big-btn !rounded-[4px] !w-full !text-center !bg-white !text-black"
      >
        Download Now
      </a>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Ad Cards",
  "settings": [
  ]
}
{% endschema %}
